/*PARTIE GENERALE*/


* /*pour tout le site appliquer longueur et largeur de 0 px pour maitriser la pixelisation*/
    {
    margin: 0px;
    padding:0px;
    }

body /*pour tout le site appliquer :*/
    {
        font-family: 'hebbo', 'sans-serif', arial; /*une ecriture de texte hebbo, ou sans-serif, ou arial*/
        font-size: 16px; /*une taille d'ecriture de 16px*/
        color: black; /*une couleur d'ecriture noir*/
        margin: 30px; /*marge superieur de 30px*/
    }

.contener  /* taille du contener*/
    {
        max-width: 1320px;
        margin: auto;
        padding-left: 30px;
        padding-right: 20px;
        box-sizing: border-box;
            
    }

.row  /*taille du bloc row*/
    {
        width: 1320px;
        margin: auto;
        height: 35vh;  /*hauteur de sous-contenaire row*/  
        display: flex;  /*glte du  bloc row*/
        margin-top: 65px;
        justify-content: space-between;
            padding-left: 30px;
        padding-right: 20px;
        box-sizing: border-box;
        
    }
    

.box  /*taille du bloc box*/
    {
        max-width: 1320px;
        margin: auto;
        content: space-between;
        padding-left: 30px;
        padding-right: 20px;
        box-sizing: border-box;
        
    }


/*DEBUT de la 1ere PARTIE du HEADER*/

/*partie du barre du menu*/

nav.barre-de-navigation
    {
        display: flex;  /*separation  flexible du menu*/
        font-weight: bold; /*police d'ecriture en gras*/
        justify-content:space-between; /*separer la barre de navigation */
        align-items: center;
        max-width: 1320px;

    }

.texte-menu
    {
        list-style:none; /*effacer les points de la liste*/
        display: flex;
        gap: 45px;  /*espace entre les elts du menu*/
    
    }
header nav ul li
    {
        display: inline-block; /*mettre le menu en horizontal*/
    
    }
header nav ul li a
    {
        text-decoration:  none; /*effacer les sous-lignes de la liste*/
        color: black;  /*coleur des elts du menu*/
        font-size: 20px;  /*taille de lettre 20px*/
        font-style: bold; /*styles d'ecriture en gras*/
    }

h1   /*le logo*/
    {
        font-weight: 700;
        width: 186px;
        height: 44px;
   }

/*.................FIN de le 1ere PARTIE HEADER..................*/


/*................DEBUT de la 2eme PARTIE ACCUEIL PHOTO..........*/

#accueil-photo {
    height: auto;
}

h2.text-center /*le texte du titre de presentation*/
    {
    font-weight: 700;
    font-size: 44px;
    }


.accueil-photo-right a img  /*arrondi de la photo de thomas*/
    {
    width: 243px;
    height:243px;
    border-radius:50%;
    object-fit:cover;
    margin: auto 40px;
    }

.accueil-text-left /*largeur de la partie gauche de l'accueil*/
    {
        width: 670px;
    }

.accueil-photo-telecharger /*telecharger*/
    {
        color:white;
        text-decoration: none;
        margin: 45px;
        padding: 16px;
        font-size: 20px;
        border-radius: 5px;
        background-color:orangered;
;
    }

.accueil-text-left p 
    {
        margin-top: 35px;
        margin-bottom: 35px;
    }

.accueil-text-left h1
    {
        margin-bottom: 35px;
    }

h4  /*le sous-titre h4 articles et view*/
    {
        float: left;
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
        vertical-align: bottom;
        color: #21243D;

    }

h5  /*le sous-titre h5 articles et view*/
    {
        float: right;
        line-height: 100%;
        size: 16px;
        vertical-align: bottom;
        color: #00A8CC;
    }

.articles   /*partie gauche de section articles et view, taille et coloration*/
    {
    width: 640px;
    height: 265px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 30px;
    margin-left: 20px;
    max-width: 47%;
    }

.view       /*partie droite se la section articles et view, taille et coloration*/
    {
    width: 640px;
    height: 265px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px 30px;
    margin-right: 20px;
    max-width: 47%;
    }
    

#articles-view/*partie article et coloration de fond*/
    {
        background-color: #edf7fa;
        margin: auto;
        max-width: 1320px;
        margin-top: 30px;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 20px;
        
    }

h3 
    {
        font-size: 26px;
    }

.date 
    {
        font-size: 18px;
        display: flex;
        gap: 25px
        

    }


/*................FIN de la 2eme PARTIE ACCUEIL PHOTO............*/


/*.................DEBUT de la 3eme PARTIE  WORKS........*/

#works
    {
        margin:auto;
        max-width: 1320px;
    }


.box img            /*les images de la partie box*/
{
   width: 226;
   height: 160px;
   gap: 20px;
   border-radius: 4px;
}


.box 
    {
        padding: 35px 0;
    }


.mestravaux     /*generalite sur mes travaux*/
    {
        display: flex;
        gap: 65px;
        margin-top: 30px;
    }

h4.box 
{
    margin-bottom: 30px;
}

span.annee   /* commun à toutes les annees*/
    {
    font-size: 20px;
    background-color: rgb(14, 14, 36);
    color: #edf7fa;
    border-radius: 4px;
    font-weight: bold;
    line-height: 60px;  /* espace entre les lignes*/
    padding: 6px;
    }

 
span.illustrations  /*commun à toutes les illustrations*/
    {
    font-size: 18px; 
    font-style: italic;
    color: gray;
    margin-left: 30px;
    
    }
.mestravaux h3
{
    font-size: 30px;
}

/*.................FIN de la 3eme PARTIE WORKS.............*/

/*.................DEBUT de la partie CONTACT..............*/
#contact
    {
        margin:auto;
        width: 1360px;
    }


#contact.row 
    {      /*glte du  bloc row*/
    display: flex;
    margin-top: 75px;
    justify-content: space-between;
    margin-top: 180px;
    gap: 40px;
    }

.mode-contact       /*partie droite se la section articles et view, taille et coloration*/
    {
    width: 50%;
    height: 265x;
    margin-bottom: 40px;
    }
    
.mode-contact h3 p 
    {
        line-height:30px;
    }

p a  /*paragraphe des reseaux sociaux*/
    {
        color: black;
        line-height: 40px; /*espace entre les lignes */
    }


.adress 
    {
        line-height:30px;
    }

    form.adress /*le formulaire de contact*/
    {
        display: flex;
        flex-direction: column;
        gap:5px;
        margin: auto;
    }


input#Envoyer /*le bouton envoyer du mail*/
    {
        background-color: rgb(19, 34, 39);
        width: 530px;
        height: 35px;
        color: white;
        font-size: 18px;
        cursor: pointer;
         border: none;
    }


textarea#Message /*message*/
    {
        width: 528px;
        height: 80px;
        background-color: rgb(236, 230, 230);
        border: none;
    }

select#Budget /*budget*/
    {
        width: 530px;
        height: 35px;
         background-color: rgb(236, 230, 230);
        border: none;
    }

select#service /*service*/
     {
        width: 530px;
        height: 35px;
        background-color: rgb(236, 230, 230);
         border: none;
    }

input#name /*nom*/
     {
        width: 530px;
        height: 35px;
        background-color: rgb(236, 230, 230);
         border: none;
    }


input#email  /*email*/
     {
        width: 530px;
        height: 35px;
        background-color: rgb(236, 230, 230);
         border: none;
    }

.mode-contact h3
    {
        font-size: 26px;
        padding: 30px 0;
    }

.reseaux
    {
        padding: 10px;
    }


label 
    {
        width: 530px;
        height: 35px;
    }

/*..................FIN de la PARTIE CONTACT...............*/

/*..................DEBUT du FOOTER........................*/

* footer {
    margin-top: 290px
    
}

.logo-reseaux {
    text-align: center;
    margin-bottom: 20px;
 
}

a {             /*espace entre les logos des reseaux sociaux*/
    margin: 20px;
}

.bas 
    {
        font-size: 16px;
        font-weight: lighter;
        font-family: 'hebbo', 'sans-serif', arial;
        text-align: center;
    }

/*..................FIN du FOOTER...........................*/

/*....................PARTIE RESPONSIVE.....................*/
@media screen {
    
}


/*.......................FIN du SITE*....................;;;/








